{%extends 'base.html'%}
{%block content%}
<section class="section hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h2 class="title">About</h2>
                <p>
                    While having a detailed discussion on various aspects of university life, we came across multiple topics, and it suddenly occurred to us that the frequency of 'Tala Bandi' in our college is pretty high. So, like any other entrepreneur with a problem-solving mindset, we created this app for students to know if the college administration is non-functional at the moment. This will help many students who cross a river and trek their way to college and also ensure their precious time is saved.
                </p>
                <p>
                    Also we are planning to create a dataset for all the 'Tala Bandi' with their tithi(तिथि) so that students in future can use different algorithms to try and guess the future 'Tala Bandi'. Tithi(तिथि) would be used, so that we could blame moon for all the problems.
                </p>
                <p>
                    Don't mind this is just for fun, but if you are still interested and want to contribute then let us know. The 'Dataset' thing could be added in future.
                </p>
            </div>
        </div>
    </div>
    
</section>

{%endblock%}