{%extends 'base.html'%}
{%block content%}
    
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {%if not isTalabandi%}
                <div class="box">
                    <h1 class="title">Days Since talabandi</h1>
                    <p class="subtitle" id="daysSince"></p>
                    <!-- JavaScript to calculate days since Talabandi -->
                    
                    <script>
                        var talabandiDate = new Date('{{last.end_date}}');
                        var currentDate = new Date();
                        var daysSince = Math.floor((currentDate - talabandiDate) / (1000 * 60 * 60 * 24));
                        document.getElementById('daysSince').innerText = daysSince + " days since talabandi";
                    </script>
                </div> 
                {% else %}
                <div class="box">
                    <h1 class="title">Talabandi ongoing 
                        <span class="tag is-success is-pulled-right">Live</span>
                    </h1>
                    <p class="subtitle" id="daysSince"></p>
                    <!-- JavaScript to calculate days since Talabandi -->
                    <script>
                        var talabandiDate = new Date('{{ongoing.date}}');
                        var currentDate = new Date();
                        var daysSince = Math.floor((currentDate - talabandiDate) / (1000 * 60 * 60 * 24));
                        document.getElementById('daysSince').innerText = daysSince + " days since talabandi started";
                    </script>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="title">Past Talabandi</h2>
                <div class="columns is-vcentered">
                    <div class="column">
                        <div class="timeline is-centered">
                            <header class="timeline-header">
                                    <div class="field is-grouped">
                                        <p class="control">
                                            <a href="#" class="button is-dark">
                                                <span class="icon">
                                                    <i class="fas fa-download"></i>
                                                </span>
                                                <span>Download CSV</span>
                                            </a>
                                        </p>
                                    </div>
                            </header><br>
                            <div class="table-container">
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Description</th>
                                            <th>Tithi(start date)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for talabandi in talabandi_list%}
                                        <tr>
                                            <td>{{talabandi.date}}&nbsp;to&nbsp;{{talabandi.end_date}}</td>
                                            <td>{% if talabandi.description == ""%}-{%else%}{{talabandi.description}}{%endif%}</td>
                                            <td>{{talabandi.tithi}}</td>
                                        </tr>
                                        {%endfor%}
                                        <!-- Add more rows for additional timeline items -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </div>
</section>

{%endblock%}