{%extends 'base.html'%}
{%block content%}
	{% with messages = get_flashed_messages() %}
        {% if messages %}
			{% for msg in messages %}
			  <script type="text/javascript">
				Swal.fire({
					title: "{{msg}}",
					width: 600,
					padding: "3em",
					color: "#fff",
					background: `
						rgba(0,0,0,0.5) url("{{url_for('static',filename='img/vivek.jpg')}}") no-repeat center center / contain
					`,
					
					backdrop: `
					  rgba(0,0,123,0.4)
					  url("{{url_for('static',filename='img/puneet.gif')}}")
					  left top
					  no-repeat
					`
				  });
			  </script>
        	{% endfor %}
        {% endif %}
    {% endwith %}
	<div class="section">
		<h1 class="title">Login</h1>
		<form action="{{url_for('authentication.login')}}" method="POST">
			<div class="field">
				<label class="label" for="email">Email:</label>
				<div class="control">
					<input class="input" type="email" id="email" name="email" required>
				</div>
			</div>
			<div class="field">
				<label class="label" for="password">Password:</label>
				<div class="control">
					<input class="input" type="password" id="password" name="password" required>
				</div>
			</div>
			<div class="field">
				<div class="control">
					<button class="button is-primary" type="submit">Login</button>
				</div>
			</div>
		</form>
	</div>
{%endblock%}